.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.nav {
    padding: 25px 12px;
    font-family: 'Playfair Display', serif;
    background-color: #333;
    color: white;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}

.nav-logo {
    font-size: 40px;
    font-weight: 500;
} 

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    font-size: 20px;
    font-weight: normal;
    transition: all .2s linear;
} 

.menu-item a {
    text-decoration: none;
    color: rgb(206, 206, 206);
    transition: all .3s ease;
} 

.menu-item a:hover {
    color: #fff;
} 

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    display: none;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.hamburger span {
    background-color: #fff;
    width: 32px;
    height: 4px;
    transition: all .2s linear;
}




/* Media Querys */
@media (max-width: 1199px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}


/** На этой точке первые три ссылки исчезают */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .nav-menu.hide {
        padding-top: 1rem;
        padding-bottom: 1rem;

        position: fixed;
        top: -7rem;
        left: 0;
        z-index: -1;

        flex-direction: column;
        gap: 50px;

        background-color: #333;
        width: 100%;
    }

    .nav-menu.show {
        padding-top: 5rem;
        padding-bottom: 2.5rem;

        position: fixed;
        top: 30px;
        left: 0;
        z-index: -1;

        flex-direction: column;
        gap: 50px;

        background-color: #333;
        width: 100%;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}


/** На этой точке красная кнопка исчезает */
/** Остается только кнопка бургер меню */
@media (max-width: 575px) {
    .nav {
        padding: 25px 25px;
    }
    .container {
        max-width: 560px;
    }
}