.nav {
    font-family: 'Poppins', sans-serif;
}

.nav-inner {
    padding: 30px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
}

.nav-brand img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.links-item {
    font-size: 16px;
    font-weight: 400;
}

/* Styles */
.link {
    color: #646A89;
    transition: color .2s ease;
}

.link:hover {
    color: #3c425f;
}

.link-button {
    margin-left: 30px;
    padding: 18px 34px;
    border-radius: 6px;
    background-color: #BF0830;

    font-weight: 500;
    color: white;
    transition: background-color .2s ease;
}

.link-button:hover {
    background-color: #a9072b;
}

.link-button:focus {
    outline: 3px solid #eb416656;
    background-color: #970726;
}


.nav-label {
    display: none;
}


/* Media Querys */

@media (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}


/** На этой точке первые три ссылки исчезают */
/** Остаеться только красная кнопка и кнопка бургер меню */
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .link-button {
        padding: 14px 27px;
    }

    .links {
        display: none;
    }

    /* Burger Menu */
    .nav-label {
        display: block;
        position: relative;
        margin-left: 15px;
        padding: 7px 13px;
        cursor: pointer;
    }

    .nav-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .nav-checkbox:checked~.burger-wrapper {
        background-color: #1a25780c;
        outline: 3px solid rgba(77, 119, 255, 0.212);
    }

    .nav-icon {
        font-size: 30px;
        color: #1A2578;
        background-color: white;
    }

    .burger-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        border: 1px solid #1a257843;
        border-radius: 6px;
    }
}


@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

/** На этой точке красная кнопка исчезает */
/** Остается только кнопка бургер меню */
@media (max-width: 575px) {
    .container {
        max-width: 560px;
    }

    .link-button {
        display: none;
    }
}