body {
    height: 300vh;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

/* First Nav */

.nav {
    padding: 25px 12px;
    font-family: 'Playfair Display', serif;
    background-color: #333;
    color: white;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}

.nav-logo {
    font-size: 40px;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    font-size: 20px;
    font-weight: normal;
    transition: all .2s linear;
}

.menu-item a {
    text-decoration: none;
    color: rgb(206, 206, 206);
    transition: all .3s ease;
}

.menu-item a:hover {
    color: #fff;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    display: none;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.hamburger span {
    background-color: #fff;
    width: 32px;
    height: 4px;
    transition: all .2s linear;
}








/* Second Nav */
.section {
    margin-top: 4rem;
    height: auto;
}

.section-title {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    color: #717171;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
    width: 100%;
    max-width: 370px;
}

.radio-item {
    display: flex;
    max-width: 175px;
    width: 100%;
    padding: 19px 20px;
    background: #fff;
    align-items: center;
    position: relative;

    cursor: pointer;
    transition: all .2s ease;
}

.radio {
    position: absolute;
    visibility: hidden;
}

.text {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #717171;
    transition: all .2s ease;
}

.fake {
    width: 28px;
    height: 28px;

    position: absolute;
    top: 50%;
    right: 3px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.fake.red {
     border: 1px solid #FFCCCC;
}

.fake.blue {
    border: 1px solid #BBCEFF;
}


.fake.red:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 18px;
    height: 18px;
    border-radius: 100%;
    transition: all .2s ease;
}

.fake.blue:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 18px;
    height: 18px;
    border-radius: 100%;
    transition: all .2s ease;
}

.border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .2s ease;
}

.border.red {
    border: 1px solid #FFCCCC;
}


.border.blue {
    border: 1px solid #BBCEFF;
}



/* Active classes */
/* REDS */
.radio-item.red {
    transform: translate(5px, -5px);
    -webkit-box-shadow: -5px 5px 0px -1px rgba(255, 119, 119, 100%);
    -moz-box-shadow: -5px 5px 0px -1px rgba(255, 119, 119, 100%);
    box-shadow: -5px 5px 0px -1px rgba(255, 119, 119, 100%);
}

.radio:checked~.text {
    color: black;
}

.radio:checked~.border.red {
    border: 1px solid #FF7777;
}

.radio:checked~.fake.red {
    border: 1px solid #FF7777;
}

.radio:checked~.fake.red:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 18px;
    height: 18px;
    /* border: 1px solid #FF7777; */
    background-color: #FF7777;
    border-radius: 100%;
}







/* BLUE */
.radio-item.blue {
    transform: translate(5px, -5px);
    -webkit-box-shadow: -5px 5px 0px -1px rgba(119, 157, 255, 100%);
    -moz-box-shadow: -5px 5px 0px -1px rgba(119, 157, 255, 100%);
    box-shadow: -5px 5px 0px -1px rgba(119, 157, 255, 100%);
}

.radio:checked~.text {
    color: black;
}
.radio:checked~.border.blue {
    border: 1px solid #779DFF;
}

.radio:checked~.fake.blue {
    border: 1px solid #779DFF;
}

.radio:checked~.fake.blue:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 18px;
    height: 18px;
    /* border: 1px solid #779DFF; */
    background-color: #779DFF;
    border-radius: 100%;
}


/* Media Querys */
@media (max-width: 1199px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}


/** На этой точке первые три ссылки исчезают */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .nav-menu.hide {
        padding-top: 5rem;
        padding-bottom: 2.5rem;

        position: fixed;
        top: 30px;
        left: -100%;
        z-index: -1000;

        flex-direction: column;
        gap: 50px;

        background-color: #333;
        width: 70%;
    }

    .nav-menu.show {
        padding-top: 5rem;
        padding-bottom: 2.5rem;

        position: fixed;
        top: 30px;
        left: 0;
        z-index: -1000;

        flex-direction: column;
        gap: 50px;

        background-color: #333;
        width: 100%;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}


/** На этой точке красная кнопка исчезает */
/** Остается только кнопка бургер меню */
@media (max-width: 575px) {
    .nav {
        padding: 25px 25px;
    }

    .container {
        max-width: 560px;
    }

    .radio-buttons {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    
        margin-top: 20px;
        width: 100%;
        max-width: 370px;
    }
}
